body {
    background-color: rgb(199, 207, 216);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    width: 25%;
    padding: 4px;
    border: 4px solid rgb(31, 66, 95);
    color: #444343;
}

a {
    color: rgb(51, 20, 77);
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    background-color: rgb(119, 57, 177);
}

.profile-pic {
    height: 300px;
    margin: 20px;
    border: 4px solid rgb(60, 115, 179);
}

.portfolio-pic {
    height: 250px;
    width: 250px;
    margin: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #444343;
}

.header {
    padding: 0.5%;
    margin: 20px;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    color: #777777;
    background-color: rgb(43, 68, 114);
}

.header-text {
    border-bottom: 4px solid #78a8cf;
    width: 100%;
    height: 100px;
}

.address {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #777777;
}

.container {
    background-color:#ffffff;
    border: 2px solid rgb(33, 47, 71);
    height: 1000px;
    width: 960px;
    margin: 0 auto;
    padding: 0 auto;
}

.box {
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid rgb(60, 115, 179);
    color: #444343;
    background-color: #97b3ca;
    text-align: center;
    margin: 30px 20px 30px 10px;
    padding: 4px;
    float: right;
    width: 600px;
    height: 250px;
}

.changing {
    background-color: #6ea7d6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color: #4d4c4c;
    border: 4px solid rgb(38, 82, 95);
    margin: 10px 70px 30px 50px ;
    padding: 8px;
    height: 250px;
    width: 400px;
    float: right;
}

.clear {
    clear: both;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #283744;
    clear: both;
}

.submission-form { 
    background-color: #78a8cf;
    color: #444343;
    max-width: 500px;
    margin: 150px 110px 110px 230px;
    padding: 40px;
    border: 4px solid rgb(20, 114, 143);
    display: block;
    text-align: center;
    width: 400px;
}

input, textarea {
    display: block;
    margin: 0px auto;
    padding: 0px;
    border: 4px solid rgb(143, 143, 212);
}

.space-area {
    height: 10px;
    width: 100%;
}

.grid-container { 
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
    position: relative;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

.text-block {
    position: absolute;
    bottom: 12%;
    background: rgb(42, 58, 148);
    opacity: 0.8; 
    color: #f1f1f1;
    width: 210px;
    padding: 20px;
    left: 19%;
}






